<div class="detailed-shop-item-card-wrapper wrapper">
  <mat-card class="detailed-shop-item-card" *ngIf="shopItem" class="detailed-shop-item-card">
    <div class="detailed-shop-item-card__title-block">
      <div class="path">
        <a class="detailed-shop-item-list__chosenCategoryName" href="#">{{ chosenCategoryName$ | async }}</a>
        <mat-icon class="detailed-shop-item-list__icon">chevron_right</mat-icon>
        <a class="detailed-shop-item-list__chosenSubCategoryName" href="#">{{ chosenSubCategoryName$ | async }}</a>
      </div>
    </div>
    <mat-card-content class="detailed-shop-item-card__content">
      <div class="slider">
        <img mat-card-image class="detailed-shop-item-card__img"[src]="shopItem.imageUrls[0]" alt="{{ shopItem.name }}">
      </div>
      <div class="main-content">
        <div class="main-content-container">
          <mat-card-title class="detailed-shop-item-card__title">
            <span class="title">{{ shopItem.name }}</span>
            <mat-icon
              *ngIf="shopItem.rating >= 5"
              color="accent"
              class="detailed-shop-item-card__popular"
              >thumb_up</mat-icon>
          </mat-card-title>
          <div class="detailed-shop-item-card__rating">
            <div   *ngFor="let star of [].constructor(shopItem.rating)">
              <mat-icon color="accent" class="star__icon">star_rate</mat-icon>
            </div>
          </div>
          <p class="detailed-shop-item-card__price">{{ shopItem.price | number: '1.2-3'}} руб</p>
          <p class="detailed-shop-item-card__availability" *ngIf="shopItem.availableAmount; else notAvailable">
            <mat-icon color="accent" class="availability__icon">done</mat-icon>
            <span>В наличии</span>
          </p>
          <ng-template #notAvailable class="detailed-shop-item-card__availability">Нет в наличии</ng-template>
        </div>
        <mat-card-actions class="detailed-shop-item-card__actions">
          <!-- [routerLink]="['/main', item.id] -->
          <button mat-stroked-button class="detailed-shop-item-card__btn">
            В корзину
          </button>
          <a href="#" class="detailed-shop-item-card__link">Добавить в избранное</a>
        </mat-card-actions>
      </div>
    </mat-card-content>
    <mat-card-footer class="detailed-shop-item-card__description-container">
      <p class="detailed-shop-item-card__description-title">Описание:</p>
      <p class="detailed-shop-item-card__description">{{ shopItem.description }}</p>
    </mat-card-footer>
  </mat-card>
</div>

