<div class="wrapper">
  <div class="shop-item-list__title-block">
    <div class="title-block__bread-crumps">
      <a class="shop-item-list__chosenCategoryName" [routerLink]="['/catalog', chosenCategoryId]">{{ chosenCategoryName$ | async }}</a>
      <mat-icon class="shop-item-list__icon">chevron_right</mat-icon>
      <a class="shop-item-list__chosenSubCategoryName" [routerLink]="['/catalog', chosenCategoryId, chosenSubCategoryId]">{{ chosenSubCategoryName$ | async }}</a>
    </div>
    <div class="title-block__sorting-panel">
      <button
        class="sorting-panel-item"
        mat-stroked-button color="primary"
        (click)="sortByPriceOrder()"
        (click)="toggleIcon('iconPriceContent')"
      >
        <span>Цена</span>
        <mat-icon id="iconView" class="sorting-panel-icon" aria-label="neutral"> {{ iconPriceContent }}</mat-icon>
      </button>
      <button
        class="sorting-panel-item"
        mat-stroked-button color="primary"
        (click)="sortByPopularityOrder()"
        (click)="toggleIcon('iconPopularityContent')"
      >
        <span>Популярность</span>
        <mat-icon id="iconView" class="sorting-panel-icon" aria-label="neutral"> {{ iconPopularityContent }}</mat-icon>
      </button>
    </div>
  </div>
  <div class="wrapper shop-item-list-wrapper">
    <app-shop-item-card *ngFor="let shopItem of shopItemList$ | async"
      [shopItem]="shopItem">
    </app-shop-item-card>
  </div>
  <button
  class="more-btn"
  mat-raised-button color="primary"
  (click)="moreItems()"
>
  <span>Больше товаров...</span>
</button>
</div>

