.form-field {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--primaryGreenColor);
  margin-right: 5px;
}
.matInput {
  align-items: center;
}
.search-btn {
  pointer-events: none;
}

app-shop-item-list {
  position: absolute;
  top: 55px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
	.header-nav-main {
    flex-direction: column;

    .mat-button,
    .user-profile-block-container {
      width: 100%;
    }
  }
}
