<mat-form-field class="form-field" appearance="fill">
  <button matPrefix mat-icon-button class="search-btn">
    <mat-icon>search</mat-icon>
  </button>
  <mat-label >Найти</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="searchInput"
    (input)="setSearchQueryValue()"
  >
  <button *ngIf="searchInput" matSuffix mat-icon-button (click)="searchInput=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<app-shop-item-list *ngIf="searchInput.length"></app-shop-item-list>
