<div class="user-profile-container not-logged" *ngIf="userProfileBlockToggleService.showHideProfileBlock | async">
  <div class="user-picture"></div>
  <button
  class="login-btn"
  mat-raised-button
  color="primary"
  (click)="onLogin()"
  (click)="userProfileBlockToggle()"
  >
    Войти
  </button>

  <ul class="user-profile-nav not-logged-nav">
    <li class="nav-item user-profile-shopping_cart">
      <a href="#">
        <mat-icon>shopping_cart</mat-icon>
        Корзина
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="">
        <mat-icon>favorite</mat-icon>
        Избранные товары
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="">
        <mat-icon>visibility</mat-icon>
        Просмотренные
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="">
        <mat-icon>shuffle</mat-icon>
        Списки сравнения
      </a>
    </li>
  </ul>
</div>
