<div class="wrapper">
  <div class="advantages">
    <div class="advantages-content advantages-content__1">
      <div class="advantages-content-quality">
        <mat-icon>assignment_turnd_in</mat-icon>
        <div class="content">
          <p class="content__title">Гарантия качества</p>
          <p class="content__text">
            Мы продаем только сертифицированный товар с гарантией сервисных центров, чек прилагается.
          </p>
        </div>
      </div>
      <div class="advantages-content-delivery">
        <mat-icon>local_shippingn</mat-icon>
        <div class="content">
          <p class="content__title">Доставка по всей Беларуси и России</p>
          <p class="content__text">
            Мы доставляем заказы в Москву, Санкт-Петербург, Минск, Витебск, Гомель и в любую другую точку России или Беларуси!
          </p>
        </div>
      </div>
      <div class="advantages-content-service">
        <mat-icon>build</mat-icon>
        <div class="content">
          <p class="content__title">Надежный сервис</p>
          <p class="content__text">
            Мы предлагаем услуги по сборке, установке, настройке, гарантийному и послегарантийному обслуживанию товаров.
          </p>
        </div>
      </div>
    </div>
    <div class="advantages-content advantages-content__2">
      <div class="advantages-content-price">
        <mat-icon>account_balance_wallet</mat-icon>
        <div class="content">
          <p class="content__title">Честные цены</p>
          <p class="content__text">
            Все цены, указанные на сайте, действительны и актуальны — данные обновляются автоматически.
          </p>
        </div>
      </div>
      <div class="advantages-content-profit">
        <mat-icon>stars</mat-icon>
        <div class="content">
          <p class="content__title">Выгодные покупки</p>
          <p class="content__text">
            Наш онлайн-гипермаркет предлагает вам выгодные акции, скидки и собственную бонусную программу.
          </p>
        </div>
      </div>
      <div class="advantages-content-kredit">
        <mat-icon>account_balance</mat-icon>
        <div class="content">
          <p class="content__title">Кредит «не выходя из дома»</p>
          <p class="content__text">
            Вы можете выбрать кредит среди предложений ведущих банков, рассчитать и оформить его, не выходя из дома.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
