<div class="wrapper">
  <div class="advantages">
    <div class="advantages-content advantages-content__1">
      <div class="advantages-content-quality">
        <mat-icon>assessment</mat-icon>
        <div class="content">
          <p class="content__title">Процент выполнения</p>
          <p class="content__text">
            Проект выполнен на 70%
          </p>
        </div>
      </div>
      <div class="advantages-content-delivery">
        <mat-icon>stars</mat-icon>
        <div class="content">
          <p class="content__title">Что удалось</p>
          <p class="content__text">
            Выполнены Header, footer, главная страница приложения, страницы с карточками товаров и страница с детальным описанием товара.
            Можно посмотреть списки товаров, добавить/удалить их в корзину или избранное.
          </p>
        </div>
      </div>
      <div class="advantages-content-service">
        <mat-icon>build</mat-icon>
        <div class="content">
          <p class="content__title">Трудности</p>
          <p class="content__text">
            Не всегда ясно, какую часть приложения хранить в сторе, а какую хранить на сервере и как часто запрашивать новую информацию.
            API Swiper оказался очень трудоемким в настройке стилей.
          </p>
        </div>
      </div>
    </div>
    <div class="advantages-content advantages-content__2">
      <div class="advantages-content-price">
        <mat-icon>bubble_chartn</mat-icon>
        <div class="content">
          <p class="content__title">Что было легко</p>
          <p class="content__text">
            Очень понравилось выбирать иконки в Angular Materials
          </p>
        </div>
      </div>
      <div class="advantages-content-profit">
        <mat-icon>trending_down</mat-icon>
        <div class="content">
          <p class="content__title">Что не удалось</p>
          <p class="content__text">
            Не хватило времени на подключение API для автоматического определения местоположения юзера.
            Не разработана система заказа товара.
          </p>
        </div>
      </div>
      <div class="advantages-content-kredit">
        <mat-icon>share</mat-icon>
        <div class="content">
          <p class="content__title">Выводы</p>
          <p class="content__text">
            Интересная и объемная задача. Нужно продолжать учить Angular т.к. он показал очень много возможностей.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
