<div
  *ngIf="userAuthToggleService.showHideProfileBlock$ | async"
  class="cover user-profile-container"
  (click)="userProfileBlockToggle()"
>
  <div class="user-profile-container-not-logged">
    <div class="user-picture"></div>
    <button
    class="login-btn"
    mat-raised-button
    color="primary"
    (click)="userProfileBlockToggle()"
    (click)="userLoginFormToggle()"
    >
      Войти
    </button>
    <ul class="user-profile-nav not-logged-nav">
      <li class="nav-item user-profile-shopping_cart">
        <a [routerLink]="['/shop-cart']">
          <mat-icon class="nav-item-icon">shopping_cart</mat-icon>
          Корзина
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="">
          <mat-icon class="nav-item-icon">favorite</mat-icon>
          Избранные товары
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="">
          <mat-icon class="nav-item-icon">visibility</mat-icon>
          Просмотренные
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="">
          <mat-icon class="nav-item-icon">shuffle</mat-icon>
          Списки сравнения
        </a>
      </li>
    </ul>
  </div>

</div>
