<div *ngIf="shopItem" class="edit-form__shop-item">
  <span class="order-item__details order-item__name">{{  shopItem.name }}</span>
    <span class="order-item__details order-item__number">{{ shopItem.numberInOrder }}шт</span>
    <span
      class="order-item__details order-item__price"
    >
      {{ shopItem.price | number: '1.2-3' }}
      <span class="order-item__price-sign">бел рублей за 1шт</span>
  </span>
  <div class="cart-table_shop-item-number">
    <button class="minus" (click)="minus()">-</button>
    <input type="number" step="1" min="1" max="shopItem.availableAmount" placeholder="1" [(ngModel)]="inputValue">
    <button class="plus" (click)="plus()">+</button>
  </div>
</div>
