<div class="wrapper">
  <div class="header-nav-main">
    <img src="../../../../../assets/icons/logo.svg" alt="logo" class="logo">
    <button mat-button class="catalog">
      <mat-icon>view_module</mat-icon>
      Каталог товаров
    </button>
    <mat-form-field class="form-field" appearance="fill">
      <button matPrefix mat-icon-button (click)="searchInput=''">
        <mat-icon>search</mat-icon>
      </button>
      <mat-label >Найти</mat-label>
      <input matInput type="text" [(ngModel)]="searchInput">
      <button *ngIf="searchInput" matSuffix mat-icon-button (click)="searchInput=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="user-profile-block-container">
      <button
      mat-button
      (click)="userProfileBlockToggle()"
      >
        <mat-icon *ngIf="token$ | async; else notLoggedIcon">perm_identity</mat-icon>
        <ng-template #notLoggedIcon>
          <mat-icon>login</mat-icon>
        </ng-template>
        Аккаунт
      </button>
    </div>
    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
      Корзина
    </button>
  </div>
  <app-user-profile-logged *ngIf="token$ | async; else notLoggedBlock" class="user-profile-block"></app-user-profile-logged>
      <ng-template #notLoggedBlock>
        <app-user-profile-not-logged  class="user-profile-block"></app-user-profile-not-logged>
      </ng-template>
</div>
