.header-nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .mat-button {
    height: 50px;
    min-width: var(--minWidthBaseButton);
    border: solid 1px var(--primaryGreenColor);
    display: flex;
    justify-content: center;
    align-items: center;

    .mat-icon {
      margin-right: 5px;
    }
  }
}
.logo {
  min-width: 50px;
  margin-right: 5px;
}
.logo:hover {
  cursor: pointer;
}
.form-field {
  flex-grow: 2;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--primaryGreenColor);
  margin-right: 5px;
}
.catalog {
  margin-right: 5px;
}
.matInput {
  align-items: center;
}
.user-profile-block-container {
  margin-right: 5px;
  position: relative;
}
.user-profile-block {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}
