<div class="wrapper">
  <div class="header-nav-main">
    <img src="../../../../../assets/icons/logo.svg" alt="logo" class="logo" (click)="goToHome()">
    <button mat-button class="catalog" (click)="goToCatalog()">
      <mat-icon>view_module</mat-icon>
      <span>Каталог товаров</span>
    </button>
      <app-search-goods-input></app-search-goods-input>
    <div class="user-profile-block-container">
      <button
      mat-button
      (click)="userProfileBlockToggle()"
      >
        <mat-icon *ngIf="token$ | async; else notLoggedIcon">perm_identity</mat-icon>
        <ng-template #notLoggedIcon>
          <mat-icon>login</mat-icon>
        </ng-template>
        <span>Аккаунт</span>
      </button>
    </div>
    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
      <span>Корзина</span>
    </button>
  </div>
  <app-user-profile-logged *ngIf="token$ | async; else notLoggedBlock" class="user-profile-block"></app-user-profile-logged>
      <ng-template #notLoggedBlock>
        <app-user-profile-not-logged  class="user-profile-block"></app-user-profile-not-logged>
      </ng-template>
</div>
