.header-nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .mat-button {
    height: 50px;
    width: var(--minWidthBaseButton);
    border: solid 1px var(--primaryGreenColor);
    display: flex;
    justify-content: center;
    align-items: center;

    .mat-icon {
      margin-right: 5px;
    }
  }
}
.logo {
  min-width: 50px;
  margin-right: 5px;
}
.logo:hover {
  cursor: pointer;
}
.catalog {
  margin-right: 5px;
}
app-search-goods-input {
  flex-grow: 2;
  margin-right: 5px;
  position: relative;
  z-index: 1000;
}
.user-profile-block-container {
  margin-right: 5px;
  position: relative;
}
.user-profile-block {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .logo {
    margin-bottom: 10px;
  }
	.header-nav-main {
    flex-direction: column;

    .mat-button,
    .user-profile-block-container,
    .cart {
      width: 100%;
      margin-bottom: 5px;
      margin-right: 0;
    }

    app-search-goods-input {
      width: 100%;
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
}
