<div class="wrapper form-order-wrapper">
  <form class="form-order">
    <div class="form-order-header">
      <span class="form-order-title">Редактирование заказа</span>
      <button
        mat-icon-button
        color="primary"
        [routerLink]="['/']"
        >
          <mat-icon class="clear">clear</mat-icon>
      </button>
    </div>
    <label class="form-order-label" for="fio">ФИО:</label>
    <input
      matInput
      id="fio"
      name="fio"
      class="order-input"
      type="text"
      required
      [(ngModel)]="fio"
      (focus)="hideToolTip()"
    >
    <label class="form-order-label" for="address">Адрес:</label>
    <input
      matInput
      id="address"
      name="addresse"
      class="order-input"
      type="text"
      required
      [(ngModel)]="address"
      (focus)="hideToolTip()"
    >
    <label class="form-order-label" for="phone">Номер телефона:</label>
    <input
      matInput
      id="phone"
      name="phone"
      class="order-input"
      type="tel"
      required
      [(ngModel)]="phoneNumber"
      (focus)="hideToolTip()"
    >
    <label class="form-order-label" for="time">Желаемое время доставки:</label>
    <input
      matInput
      id="time"
      name="time"
      class="order-input"
      type="time"
      required
      [(ngModel)]="time"
      (focus)="hideToolTip()"
    >
    <label class="form-order-label" for="comment">Комментарий к заказу:</label>
    <textarea
      matInput
      id="time"
      name="comment"
      class="comment-area order-input"
      type="time"
      required
      [(ngModel)]="comment"
    ></textarea>
    <div *ngIf="orderData">
      <app-form-edit-shop-items-of-order
        [orderItem]="orderData"
      ></app-form-edit-shop-items-of-order>
    </div>


    <button
      class="login-btn clear"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
     Оформить заказ
  </button>
  </form>
  <div
    *ngIf="showToolTip$ | async"
    class="order-form-toolTip"
  >
    {{ toolTipContent }}
    <button
        mat-icon-button
        color="primary"
        (click)="hideToolTip()"
    >
      <mat-icon class="clear">clear</mat-icon>
    </button>
  </div>
  <div
  *ngIf="orderFinishService.orderFinish$ | async"
    class="order-form-toolTipFinish"
  >
  Ваш заказ отредактирован, новый номер заказа в листе ожидания.
  Ожидайте доставку в указанное время {{ orderData?.details?.timeToDeliver }}
    <button
        mat-icon-button
        color="primary"
        (click)="hideToolTipOrder()"
    >
      <mat-icon class="clear">clear</mat-icon>
    </button>
  </div>
</div>
