<mat-accordion class="headers-align" multi *ngIf="orderItem">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Заказ № </span><span class="order-id">{{ orderItem.id }}</span>
      </mat-panel-title>
      <mat-panel-description class="order-details">
        Доставка в <span class="shift">{{ orderItem.details.timeToDeliver }},</span>
        <span class="shift">по адресу: {{ orderItem.details.address }},</span>
        <span class="shift">на имя {{ orderItem.details.name }}</span>
      </mat-panel-description>
      <mat-panel-description>
        <span class="shift mat-panel-description-price-intro">К оплате:</span><span class="shift mat-panel-description-price">{{ totalPrice | number: '1.2-3'}}</span><span class="shift">бел рублей</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <p *ngFor="let item of shopItemArray" class="order-item-details-container">
        <span class="order-item__details order-item__name">{{ item.name }}</span>
        <span class="order-item__details order-item__number">{{ item.numberInOrder }}шт</span>
        <span
          class="order-item__details order-item__price"
        >
          {{ item.price | number: '1.2-3' }}
          <span class="order-item__price-sign">бел рублей за 1шт</span>
        </span>
      </p>
      <div class="order-item-button-container">
        <button
          class="order-delete"
          mat-raised-button
          (click)="deleteOrder()"
        >
          Отменить заказ
        </button>
        <button
          class="order-edit"
          mat-raised-button
          (click)="editOrder()"
        >
          Редактировать заказ
        </button>
      </div>
  </mat-expansion-panel>
</mat-accordion>
