mat-panel-title {
  max-width: 300px;
}
mat-panel-description {
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
}

.order-details {
  display: block;
}
.order-item__name {
  grid-area: name;
}
.order-item__number {
  grid-area: number;
}
.order-item__price {
  grid-area: price;
}

.order-item-details-container {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas:
  'name number price';
  border-top: 1px solid var(--primaryGreenColor);
  padding-top: 10px;
}
.order-item__details {
  padding-right: 10px;
}
.shift {
  padding-left: 5px;
}
.mat-panel-description-price {
  font-size: 18px;
}
.order-item__price-sign {
  padding-left: 10px;
  color: var(--lightGray);
}

.order-item-button-container {
  display: flex;
  justify-content: flex-end;
}

.order-delete {
  margin-right: 20px;
  background-color: var(--primaryPurpleColor);
}
.order-edit {
  background-color: var(--primaryGreenColor);
}

@media screen and (max-width: 1000px) {
  mat-panel-title {
    font-size: 9px;
    max-width: 300px;
    display: block;
  }
  mat-panel-description {
    font-size: 9px;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
  }
  .order-id {
    font-size: 12px;
  }
  .order-item-details-container {
    display: grid;
    grid-template-columns: 2.5fr 1.8fr 1.2fr;
  }
  .mat-panel-description-price-intro {
    display: none;
  }
  .mat-panel-description-price {
    font-size: 11px;
  }

  .rder-item-details-container {
    font-size: 10px;
  }

  .order-item__details{
    text-align: start;
    padding-left: 0;
  }
  .order-item__price-sign {
    padding-left: 0;
  }
}
