
<swiper class="mySwiper"
  [slidesPerView]="1"
  [navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next' }"
  [zoom]="true"
  [autoplay]="true"
  [pagination]="{ clickable: true }"
>
  <ng-template class="swiperSlide" swiperSlide class="swipeSSS" *ngFor="let slide of shopItemListRandom$ | async; index as i" let-data>
    <div  class="swiperSlide">
      <div class="slider-content">
        <div class="shop-slider__img">
          <img src="{{ slide.imageUrls[0] }}" alt="{{ slide.name }}">
        </div>
        <div class="shop-slider__content">
          <div class="shop-slider__rate">
            <div *ngFor="let star of [].constructor(slide.rating)">
              <mat-icon color="primary">star_rate</mat-icon>
            </div>
          </div>
          <p class="shop-slider__title">
            {{ slide.name }}
          </p>
          <p class="shop-slider__text">
            {{ slide.description }}
          </p>
          <button
            class="more-btn shop-slider__button"
            mat-raised-button
            color="primary"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
<button type="button" class="swiper-navigation-prev"></button>
<button type="button" class="swiper-navigation-next"></button>
