<div class="wrapper home-page-wrapper">
  <div class="shop-slider">
        <ul class="home-shop-item-list shop-slider__wrp swiper-wrapper">
          <li
            *ngFor="let homeShopItem of shopItemListRandom$ | async"
            class="shop-slider__item swiper-slide home-shop-item"
          >
            <div class="shop-slider__img">
              <img src="{{ homeShopItem.imageUrls[0] }}" alt="">
            </div>
            <div class="shop-slider__content">
              <span class="shop-slider__rate">
                Рейтинг: {{ homeShopItem.rating }}
                <mat-icon>star_rate</mat-icon>
              </span>
              <p class="shop-slider__title">
                {{ homeShopItem.name }}
              </p>
              <p class="shop-slider__text">
                {{ homeShopItem.description }}
              </p>
              <button
                class="more-btn shop-slider__button"
                mat-raised-button
                color="primary"
              >
                Подробнее
              </button>
            </div>
          </li>
        </ul>
  </div>
  <button
    class="swiper-navigation-prev"
    (click)="setPosition($event)"
  >
    <div class="arrow-left"></div>
  </button>
  <button
    class="swiper-navigation-next"
    (click)="setPosition($event)"
  >
    <div class="arrow-right"></div>
  </button>
</div>
