<div class="contacts contacts-footer">
  <button mat-button onclick="location.href='https://www.viber.com/ru/'">
    <mat-icon>call</mat-icon>
    Viber
  </button>
  <button mat-button>
    <mat-icon>call</mat-icon>
    {{ contacts.mainPhoneNumber }}
  </button>
  <button mat-button>
    <mat-icon>call</mat-icon>
    {{contacts.secondPhoneNumber}}
  </button>
  <button mat-button onclick="location.href='https://telegram.org/'">
    <mat-icon>near_me</mat-icon>
    Telegram
  </button>
  <button mat-button>
    <mat-icon>mail</mat-icon>
    <a class="mail" href="mailto:test@mail.ru">
      Почта
    </a>
  </button>
  <button mat-button>
    <mat-icon>phone_in_talk</mat-icon>
    Заказать звонок
  </button>
  <button mat-button>
    <mat-icon>sms</mat-icon>
    Написать нам
  </button>
</div>
<div class="network-container">
  <a href="https://vk.com/?lang=en" class="vkontakte">
    <div class="network-icon vkontakte-icon"></div>
  </a>
  <a href="https://www.facebook.com/" class="facebook">
    <div class="network-icon facebook-icon"></div>
  </a>
  <a href="https://www.instagram.com/" class="instagram">
    <div class="network-icon instagram-icon"></div>
  </a>
  <a href="https://www.youtube.com/" class="youtube">
    <div class="network-icon youtube-icon"></div>
  </a>
  <a href="https://ok.ru/" class="odnoklassniki">
    <div class="network-icon odnoklassniki-icon"></div>
  </a>
</div>
