<mat-card *ngIf="shopItem" class="shop-item-card">
  <img mat-card-image [src]="shopItem.imageUrls[0]" alt="{{ shopItem.name }}">
  <mat-card-content>
    <mat-card-title>{{ shopItem.name }}</mat-card-title>
    <p *ngIf="shopItem.availableAmount; else notAvailable">В наличии</p>
    <ng-template #notAvailable>Нет в наличии</ng-template>
    <p>{{ shopItem.price }} руб</p>
  </mat-card-content>
  <mat-card-actions>
    <!-- [routerLink]="['/main', item.id] -->
    <button mat-stroked-button>
      More...
    </button>
  </mat-card-actions>
  <mat-card-footer class="card-footer">
  </mat-card-footer>
</mat-card>
