<mat-card class="shop-item-card" *ngIf="shopItem" class="shop-item-card">
  <div class="shop-item-card__rating">
    <div   *ngFor="let star of [].constructor(shopItem.rating)">
      <mat-icon color="accent" class="star__icon">star_rate</mat-icon>
    </div>
  </div>
  <img mat-card-image [src]="shopItem.imageUrls[0]" alt="{{ shopItem.name }}">
  <mat-card-content class="shop-item-card__content">
    <mat-card-title class="shop-item-card__title">
      <a [routerLink]="['/catalog', chosenCategoryId, chosenSubCategoryId, chosenItemId]">{{ shopItem.name }}</a>
    </mat-card-title>
    <p class="shop-item-card__availability" *ngIf="shopItem.availableAmount; else notAvailable">
      <mat-icon color="accent" class="availability__icon">done</mat-icon>
      <span>В наличии</span>
    </p>
    <ng-template #notAvailable>Нет в наличии</ng-template>
    <p class="shop-item-card__price">{{ shopItem.price | number: '1.2-3'}} бел рублей</p>
  </mat-card-content>
  <mat-card-actions class="shop-item-card__actions">
    <!-- [routerLink]="['/main', item.id]" -->
    <button mat-stroked-button class="shop-item-card__btn" (click)="addToCart(shopItem.id)">
      В корзину
    </button>
    <a *ngIf="!inFavourite; else inFavouriteList" (click)="addToFavourite(shopItem.id)" class="shop-item-card__link">Добавить в избранное</a>
    <ng-template #inFavouriteList>
      <a (click)="removeFromFavourite(shopItem.id)" class="shop-item-card__link">Удалить из избранного</a>
    </ng-template>
  </mat-card-actions>
  <mat-card-footer class="card-footer">
  </mat-card-footer>
</mat-card>
