/* You can add global styles to this file, and also import other style files */
:root {
  --primaryPurpleColor: #7b1fa2;
  --primaryGreenColor: #56B280;
  --lightGray: #DBDBDB;
  --middleGray: #818181;
  --deepGray: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
  width: 80vw;
  margin: 0 auto;
}
