<div class="wrapper shop-item-list-wrapper">
  <h2 *ngIf="(shopItemListInCart$ | async)?.length; else noCart">Корзина</h2>
  <div class="cart-table-header">
    <div class="cart-table_shop-item">Товар</div>
    <div class="cart-table_shop-item-description">Описание</div>
    <div class="cart-table_shop-item-number">Количество</div>
    <div class="cart-table_shop-item-delivery">Доставка</div>
    <div class="cart-table_shop-item-price">Цена (бел. рубли)</div>
  </div>
  <app-shop-item-in-cart-card
  *ngFor="let shopItem of shopItemListInCart$ | async"
  [shopItem]="shopItem"
  >
  </app-shop-item-in-cart-card>
</div>
<ng-template #noCart>
  <h2 class="wrapper shop-item-list-wrapper">Корзина пуста</h2>
</ng-template>
