:host {
  min-width: fit-content;
  height: 100%;
}

.categories {
  list-style: none;

  &_item {
    padding: 10px 15px;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .selected {
    background-color: var(--primaryGreenColor);
  }
}
