<div class="categories-container-block">
  <ul class="categories">
    <li
      *ngFor="let category of categories$ | async"
      class="categories_item"
      [class.selected]="(selectedCategoryName$ | async) === category.name"
    >
      <div  *ngFor="let icon of icons">
        <mat-icon class="category-icon" *ngIf="icon.hasOwnProperty(category.id)"> {{ icon.icon }}</mat-icon>
      </div>
      <a
        (click)="goToSubCategoryList()"
        (mouseenter)="changeChosenCategoryName($event)"
      >
        {{ category.name }}
      </a>
    </li>
  </ul>
</div>
